In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
# Memuat dataset
data = pd.read_csv('penjualan_mobil_toyota.csv')
data

       Bulan  Penjualan
0    2011-01      27619
1    2011-02      25532
2    2011-03      32275
3    2011-04      21128
4    2011-05      19554
..       ...        ...
144  2023-01      28970
145  2023-02      27336
146  2023-03      29471
147  2023-04      21518
148  2023-05      28178

[149 rows x 2 columns]

In [2]:
# Menampilkan informasi dasar dataset
print("Informasi dataset:")
data.info()

Informasi dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Bulan      149 non-null    object
 1   Penjualan  149 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.5+ KB

In [3]:
# Memeriksa nilai yang hilang di setiap kolom
print("\nJumlah nilai yang hilang di setiap kolom:")
print(data.isnull().sum())

Jumlah nilai yang hilang di setiap kolom:
Bulan        0
Penjualan    0
dtype: int64

In [4]:
# Menampilkan lima baris pertama dari dataset
print("\nLima baris pertama dataset:")
print(data.head())

# Menampilkan lima baris terakhir dari dataset
print("\nLima baris terakhir dataset:")
print(data.tail())

Lima baris pertama dataset:
     Bulan  Penjualan
0  2011-01      27619
1  2011-02      25532
2  2011-03      32275
3  2011-04      21128
4  2011-05      19554

Lima baris terakhir dataset:
       Bulan  Penjualan
144  2023-01      28970
145  2023-02      27336
146  2023-03      29471
147  2023-04      21518
148  2023-05      28178

In [6]:
# Menampilkan deskripsi statistik dari kolom 'Penjualan'
print("\nDeskripsi statistik kolom Penjualan:")
print(data['Penjualan'].describe())

Deskripsi statistik kolom Penjualan:
count      149.000000
mean     28402.845638
std       7579.399557
min        695.000000
25%      25081.000000
50%      29362.000000
75%      33344.000000
max      40781.000000
Name: Penjualan, dtype: float64

In [7]:
# Menangani nilai yang hilang di kolom 'Penjualan' dengan imputasi rata-rata
data['Penjualan'] = data['Penjualan'].fillna(data['Penjualan'].mean())